.header {
  max-width: 768px;
  width: 100%;
  height: 65px;
  border-bottom: 1px solid #094d2c;
  margin-bottom: 30px;
  display: flex;
}

.header__container_content {
  max-width: 1440px;
  width: 100%;
}

.header__menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.hamburger-menu {
  position: absolute;
}

.hamburger-menu__button {
  background-image: url(../../images/menu-black.png);
  border: none;
  font-size: 24px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  z-index: 999;
}

.hamburger-menu__button:hover {
  opacity: 0.5;
}

.hamburger-menu__button--white {
  background-image: url(../../images/menu-white.png);
  background-color: rgba(0, 0, 0, 0);
}

.hamburger-menu__button--white:hover {
  opacity: 0.5;
}

.hamburger-menu__content {
  position: relative;
  max-width: 768px;
  width: 100%;
  top: 100%;
  height: 0;
  background-color: #0000008f;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.751);
  z-index: 1000;
}

.nav {
  max-width: 768px;
  width: 100%;
  top: 0px;
  z-index: 999;
  position: absolute;
}
.nav__menu {
  position: absolute;
  max-width: 768px;
  width: 100%;
  top: 100%;
  height: 170px;
  background-color: rgba(0, 0, 0, 0.957);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.751);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  animation: slideDown 0.3s ease;
}
.nav__menu__link {
  text-decoration: none;
  text-align: left;
  font-size: 16px;
  line-height: 19.36px;
  color: #fff;
}

.nav__menu__link:hover {
  color: #348b61;
}

.nav__menu__link-active {
  border-radius: 5px;
  color: #aaf1ae;
}

.nav__menu__btn {
  background-color: #348b61;
  color: #fff;
  border: none;
  width: 120px;
  height: 25px;
  border-radius: 8px;
  cursor: pointer;
}

.nav__menu__btn:hover {
  background-color: #45a049;
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 1440px;
    width: 100%;
    height: 77px;
  }

  .header__container_content {
    max-width: 1440px;
    width: 100%;
  }
  .header__container__content {
    justify-content: space-between;
  }

  .header__menu {
    position: relative;
    display: flex;
    padding: 0 10px;
  }

  .header__menu-logo {
    max-width: 650px;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    gap: 50px;
  }

  .nav {
    max-width: 420px;
    width: 100%;
    height: 65px;
    position: static;
    display: flex;
  }
  .nav__menu {
    flex-direction: row;
    align-items: center;
    height: 65px;
    position: static;
    background: none;
    box-shadow: none;
    padding: 0;
  }

  .button__location {
    order: 3;
  }

  .mav__menu_direction {
  }

  .nav__menu__link {
    font-family: Inter;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
  }
  .nav__menu__link-active {
    border-bottom: 5px solid #348b61;
    color: #094d2c;
    display: flex;
    height: 70px;
    align-items: center;
  }
  .nav__menu__link-inactive {
    color: #515151;
  }
  .nav__menu__btn {
    background-color: #348b61;
    color: #fff;
    border: none;
    width: 105px;
    height: 43px;
    border-radius: 8px;
  }
  .location {
    width: 327px;
    height: 36px;
    background: #348b61;
    border-radius: 8px;
    border: none;
    color: #bbffe7;
    margin: 10px 0 0;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
